:root {
  --font-color: #a0a2a4;
  --social-icon-size: 30px;
  --github: #181717;
  --twitter: #1DA1F2;
  --linkedin: #0077B5;
  --instagram: #fd1d1d;
  --gmail: #D14836;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: linear-gradient(45.34deg, #EA52F8 5.66%, #0066FF 94.35%);
}

.bs-profile-card-container {
  padding: 150px 15px 15px 15px;
}

.bs-card {
  position: relative;
  background-color: white;
  padding: 0px 30px;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 500px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.bs-profile-picture {
  display: block;
  position: relative;
  top: -100px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid white;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.bs-name {
  position: relative;
  top: -100px;
  text-align: center;
  color: #6b6b6b;
  font-size: 2.5em;
}

.bs-location {
  position: relative;
  top: -110px;
  text-align: center;
  color: var(--font-color);
  font-size: 1em;
}

.bs-bio {
  position: relative;
  top: -90px;
  text-align: center;
  color: var(--font-color);
  font-size: 1.2em;
  line-height: 1.7em;
}

.bs-social-icons {
  position: relative;
  top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bs-social-icons > a {
  cursor: default;
}

.bs-social-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.bs-social-icon svg {
  width: var(--social-icon-size);
  height: var(--social-icon-size);
  fill: var(--font-color);
  transition: fill 0.3s ease;
}

.bs-social-icon-github:hover svg {
 fill: var(--github);
}

.bs-social-icon-twitter:hover svg {
  fill: var(--twitter);
}

.bs-social-icon-linkedin:hover svg {
  fill: var(--linkedin);
}

.bs-social-icon-instagram:hover svg {
  fill: var(--instagram);
}

.bs-social-icon-email:hover svg {
  fill: var(--gmail);
}
