* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #904e95, #e96443);
}

.bs-card {
  position: relative;
  background-color: white;
  padding: 0px 30px 15px 30px;
  border-radius: 10px;
}

.bs-profile-picture {
  position: relative;
  top: -100px;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  border: 5px solid white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/profile-picture.jpg');
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.bs-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bs-social-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.bs-social-icon-github {
  background-color: #181717;
}

.bs-social-icon-github > svg {
  width: 36px;
  height: 36px;
  fill: white;
}

.bs-social-icon-twitter {
  background-color: #1DA1F2;
}

.bs-social-icon-twitter > svg {
  width: 32px;
  height: 32px;
  fill: white;
}

.bs-social-icon-linkedin {
  background-color: #0077B5;
}

.bs-social-icon-linkedin > svg {
  width: 28px;
  height: 28px;
  fill: white;
}

.bs-social-icon-instagram {
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.bs-social-icon-instagram > svg {
  width: 30px;
  height: 30px;
  fill: white;
}

.bs-social-icon-email {
  background-color: #D14836;
}

.bs-social-icon-email > svg {
  width: 30px;
  height: 30px;
  fill: white;
}
